<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Boot WebSocket!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <script src="../js/app.js"></script>
    <script src="../js/execCommand.js"></script>
    <script src="../js/emoji.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.1/emojionearea.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.1/emojionearea.min.js"></script>

</head>
<body>
<div class="container testimonial-group">
    <div class="row first-row">
        <div class="col-sm-5">
            <form class="form-inline form-size">
                <div class="form-group">
                    <h3 id="hello-name"></h3>
                </div>
            </form>
        </div>
        <div class="col-sm-6 top-row">
            <div class="pull-right">
                <form class="form-inline form-size">
                    <div class="form-group">
                        <label  for="connect">Make Connection:</label>
                        <button id="connect" class="btn btn-default" type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-1 top-row">
            <div class="form-group online-status">
                <span class="status-offline"></span>
            </div>
        </div>
    </div>
    <div class="row row1 setSize">
        <div class="col-sm-2 border active-card copy-div" style="display: none;">
            <form class="form-inline">
                <div class="form-group">
                   <div class="address" id="copy-global-id">Global
                   </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="global">
            <div class="col-md-3">
                <table id="online-users" class="table table-striped title-online-users">
                    <thead>
                    <tr class="users-online-tr">
                        <th >Users Online:</th>
                    </tr>
                    </thead>
                    <tbody id="online">
                </table>
            </div>
            <div class="col-md-9 copyGlobal global-main" id="copy-id">
                <div class="row">
                    <div class="col-md-10 text-row messages">
                        <table id="conversation" class="table table-striped abc">
                            <thead>
                            <tr></tr>
                            </thead>
                            <tbody class="tbodyClass" id="copyGlobalDiv">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row features-row">
        <div class="col-lg-9">
            <form class="form-inline">
                <div class="features">
                    <fieldset>
                        <button class="features-bold space-between" title="Bold Highlighted Text"><b>B</b>
                        </button>
                        <button class="features-italic space-between" title="Italicize Highlighted Text"><i>I</i>
                        </button>
                        <button class="features-underline space-between"><u>U</u>
                        </button>

                        <label for="fontSize">Font Size: </label>
                        <select id="fontSize" >
                            <option value="8">8px</option>
                            <option value="10">10px</option>
                            <option value="12 selected='true'">12px</option>
                            <option value="14">14px</option>
                            <option value="20">20px</option>
                            <option value="22">22px</option>
                            <option value="30">30px</option>
                            <option value="35">35px</option>
                            <option value="40">40px</option>
                            <option value="45">45px</option>
                            <option value="50">50px</option>
                        </select>
                        <!--</div>-->

                        <!--<button class="features-emoji space-between"><u>Emoji</u>-->
                        <!--</button>-->
                    </fieldset>
                    <div class="space-between features-emoji">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <div class="features-files space-between">
                <label for="inputFileToLoad">
                    <input id="inputFileToLoad" type="file" disabled accept="image/png, image/jpeg"/>
                </label>
            </div>
        </div>
    </div>
    <div class="row input-field">
        <div class="col-lg-8">
            <form class="form-inline text-area">
                <div class="form-group">
                    <div class="picture-area">
                        <div id="message" class="editor1 message form-control" contenteditable="true">
                        </div>
                        <div id="imgTest"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-1 send-button">
            <button id="send" class="btn btn-primary send-file" type="submit">Send</button>
        </div>
    </div>
</div>
</body>
</html>