<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Boot WebSocket!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <script src="../js/app.js"></script>

</head>
<body>
<div class="container testimonial-group">
    <div class="row first-row">
        <div class="col-sm-5">
            <form class="form-inline form-size">
                <div class="form-group">
                    <h3 id="hello-name"></h3>
                </div>
            </form>
        </div>
        <div class="col-sm-7 top-row">
            <span class="pull-right">
                <form class="form-inline form-size">
                    <div class="form-group">
                        <label  for="connect">Make Connection:</label>
                        <button id="connect" class="btn btn-default" type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
                        <span class="status-offline"></span>
                    </div>
                </form>
            </span>
        </div>
    </div>
    <div class="row row1 setSize">
        <div class="col-sm-2 border active-card copy-div" style="display: none;">
            <form class="form-inline">
                <div class="form-group">
                   <div class="address" id="copy-global-id">Global
                   </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="global">
            <div class="col-md-3">
                <table id="online-users" class="table table-striped title-online-users">
                    <thead>
                    <tr class="users-online-tr">
                        <th >Users Online:</th>
                    </tr>
                    </thead>
                    <tbody id="online">
                </table>
            </div>
            <div class="col-md-9 copyGlobal global-main" id="copy-id">
                <div class="row">
                    <div class="col-md-10 text-row messages">
                        <table id="conversation" class="table table-striped abc">
                            <thead>
                            <tr></tr>
                            </thead>
                            <tbody class="tbodyClass" id="copyGlobalDiv">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row input-field">
        <div class="col-lg-8">
            <form class="form-inline text-area">
                <div class="form-group">
                    <label for="message"></label>
                    <textarea id="message" class="form-control"></textarea>
                    <button id="send" class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>